body {
    background-color: #414141;
    font-family:tahoma;
    padding: 10px;
}
h2 {
    border-radius: 10px;
    background-color: #818181;
    padding: 10px;
}
span {
    padding-left: 50px;
    padding-right: 50px;
}
td {
    background-color: #848484;
}
input {
    width: 350px;
}
.imager {
    float: left;
    width: 405px;
}
#pridat table td, #upravit table td, #smazat table td {
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #999;
}
.content {
    background-color: #777;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #141414;
}