@font-face {
    font-family: DevilBreeze;
    src: url("../DevilBreeze.ttf");
}
@font-face {
    font-family: baronkuffnerce;
    src: url("baronkuffnerce.ttf");
}
@font-face {
    font-family: JennaSue;
    src: url("../JennaSue.ttf");
}
@font-face {
    font-family: tahomaown;
    src: url("../tahoma.ttf");
}
img {
    border:0;
}
.news_timestamp, .news_body, .news_body hr {
    display:none;
}
body {
    background: #000 url("../images/untold_stories_body_background.png") 0 0 no-repeat;
    margin: 0 auto;
}
.logo h1,h2 {
    display:none;
} 
.news h1 {
    margin: 0;
    padding: 0;
    font-family: DevilBreeze;
}
.news table td a {
    text-decoration:none;
    color: #F90;
}
h3 {
    font-size: 20px;
    font-family:baronkuffnerce;
    color: #ff9900;
    font-weight: normal;
    text-shadow: 0px 2px 0px black;
    width: 450px;
    float:left;
    padding-left: 28px;
    padding-top: 3px;
}
h5, h5 a {
    color: #ff9900;
    font-weight: normal;
    font-size: 15px;
    text-shadow: 0px 2px 0px black;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
h5 a:hover {
    color: #7a3c01;
}
#result {
    color: #999;
}
#overflower {
    overflow: hidden;
}
#placehold {
    margin-bottom: 15px;
}
#footer_size {
    width: 900px;
}
#padder {
    padding-top: 10px;
}
#tus {
    float:left;
}
.time {
    float:right;
    width: 150px;
    text-align:right;
    padding-top: 20px;
    padding-right: 25px;
}
.time a {
    text-decoration:none;
    color: #ff9900;
}
.time a:hover {
    text-decoration:underline;
}
#web{
    font-weight: normal;
    padding: 18px;
    margin: 0;
    font-size: 15px;
    text-shadow: 0px 2px 0px black;
}
.top_panel {
    background: url("../images/untold_stories_top_panel_background.png") repeat-x top;
    height: 50px;
    position:fixed;
    width: 100%;
    z-index: 10000;
}
.games {
    padding: 3px;
    width: 100px;
    float:left;
    text-align:center;
}
.games img {
    filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
}
.games img:hover {
    filter: grayscale(0%);
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
}
.social {
    padding: 3px;
    width: 100px;
    float:right;
    text-align:center;
}
.sizer {
    width: 1100px;
    margin: 0 auto;
    color: #cc6600;
    font-family: tahomaown;
    font-size: 12px;
}
#server_info {
    float:right;
}
.logo{
    background: url("../images/untold_stories_logo.png") no-repeat left;
    height: 179px;
    margin-top: -100px;
    margin-left: -7px;
}
.slider{
    background: url("../images/slider_bg.png") no-repeat top;
    height: 250px;
    margin-top: -16px
}
.slider .sizer img {
    margin-top: 22px;
    margin-left: 60px;
}
.ribbon {
    background: url("../images/ribbon.png") no-repeat top;
    height: 206px;
    position:absolute;
    width: 206px;
    margin-left: 849px;
    margin-top: 12px;
}
.content {
    background: url("../images/top_content.png") no-repeat top;
    height: 110px;
    z-index: 1;
}
.mid_content {
    background: url("../images/mid_content.png") repeat-y top;
    min-height:  10px;
}
.bottom_content {
    background: url("../images/bottom_content.png") no-repeat bottom;
    height: 25px;
}
.menu{
    background: url("../images/menu_bg2.png") no-repeat left;
    height: 70px;
    width: 736px;
    float:left;
    margin-top: 20px;
    margin-left: 45px;
}
.menu ul {
    margin-top: 25px;
    margin-left: -25px;
}
.menu ul li {
    display:inline;
    list-style-type:none;
    padding: 5px;
    margin-left: 50px;
}
.menu ul li a {
    font-family:DevilBreeze;
    color: #ff9900;
    text-decoration:none;
    font-size: 15px;
    text-shadow: 0px 2px 0px black;
}
.menu ul li a:hover {
    color: #7a3c01;
}
.register {
    background: url("../images/reg.png") no-repeat top;
    height: 100px;
    width: 273px;
    float:right;
    margin-right: 44px;
    margin-top: -15px;
    z-index: -1;
    text-indent: -99999px;
}
.register:hover{
    background-position: 0 -100px;
}
.news {
    width: 665px;
    float: left;
    margin-left: 60px;
    margin-top: 15px;
}
.news_top {
    background: url("../images/top_news.png") no-repeat top;
    height: 75px;
}
.news_mid {
    background: url("../images/mid_news.png") repeat-y top;
    min-height: 10px;
    padding-left: 20px;
    padding-right: 15px;
    font-family:tahoma;
}
.news_mid table td a, .news_mid a {
    text-decoration: none;
    color: #F90;
    text-decoration: none;
    font-size: 15px;
    text-shadow: 0px 2px 0px black;
}
.news_mid table td a:hover, .news_mid a:hover {
    color: #7a3c01;
}
.news_mid img {
    margin-left: 5px;
    margin-bottom: 15px;
}
.news_mid p{
    margin: 0;
    padding-right: 5px;
    text-align:justify;
    font-family: tahomaown;
}
.news_bottom {
    background: url("../images/bottom_news.png") no-repeat bottom;
    height: 25px;
    margin-bottom: 20px;
}
.sidebar {
    margin-top: 15px;
    width: 315px;
    float: right;
    margin-right: 60px;
    font-size: 15px;
    font-family: DevilBreeze;
}
#result{
    color: #999;
}
.sidebar_top {
    background: url("../images/top_sidebar.png") no-repeat top;
    height: 50px;
}
.sidebar_mid {
    background: url("../images/mid_sidebar.png") repeat-y top;
    min-height: 10px;
    padding-left: 20px;
    padding-right: 15px;
    width: 280px;
    font-family:tahoma;
}
.sidebar_bottom {
    background: url("../images/bottom_sidebar.png") no-repeat bottom;
    height: 25px;
    margin-bottom: 25px;
}
.sidebar_mid input, table input {
    background-color: #2a1000;
    border: 1px solid #180900;
    border-radius: 5px;
    width: 260px;
    padding: 7px;
     color: #ff9900;
}
table input {
    float:right;
    width: 545px;
}
table td {
    background-color: #381007;
    padding: 5px;
}
table td:hover{
    background-color: #3f1208;
}
table img {
    vertical-align:middle;
}
.sidebar_mid input:focus {
    border: 1px solid #7a3c01;
    outline-width: 0;
}
.sidebar ul {
    margin: 0;
    padding: 0;
    
}
.sidebar ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 25px;
}
.sidebar ul li a {
    text-decoration:none;
    color: #F90;
    text-decoration: none;
    font-size: 15px;
    text-shadow: 0px 2px 0px black;
}
.sidebar ul li a:hover {
    color: #7a3c01;
}
#bannery li {
    list-style-type:none;
    margin-left: -0px;
}
#submit_button {
    background: url("../images/button.png") no-repeat top;
    height: 40px;
    border: none;
    background-color: transparent;
    width: 100px;
    font-size: 12px;
    color: #ff9900;
}
#submit_button:active {
    margin-top: 2px;
}
#forgotten_pass {
    float:right;
    margin-top: -28px;
    margin-right: 25px;
}
#forgotten_pass a{
    color: #ff9900;
    text-decoration:none;
}
#forgotten_pass a:hover {
    color: #7a3c01;
}
.footer {
    background: url("../images/footer_bg.png") no-repeat bottom;
    height: 158px;
}
#playwithus {
    float:right;
    font-family: JennaSue;
    font-size: 27px;
    margin-top: -20px;
}
.fixer {
    height: 150px;
}